<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/cohorts">Super Team Picker</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="/cohorts">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cohorts">Cohorts</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/cohorts/new">New Cohort</a>
        </li>
    </ul>
